body {
    font-size: 18px;
    line-height: 1.75;
    color: $font-color;
    font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    font-weight: 700;
    color: $heading-color;
}

h1 {
    font-size: 56px;
    line-height: 1.3;
}

h2 {
    font-size: 48px;
    line-height: 1.3;
}

h3 {
    font-size: 32px;
    line-height: 1.4;
}

h4 {
    font-size: 26px;
    line-height: 1.4;
}

h5 {
    font-size: 22px;
    line-height: 1.5;
}

h6 {
    font-size: 20px;
    line-height: 1.5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: inherit;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-menu {
    display: flex;
    gap: 30px;

    li a {
        transition: 0.3s ease-in-out;

        &:hover {
            color: $secondary-color;
        }
    }
}

.logo h1 {
    color: $white-color;
    font-size: 30px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family;
    padding: 12px 24px;
    border: none;
    color: $white-color;
    border-radius: 4px;
    font-size: 16px;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 0.8;
    }

    &.primary-button {
        background-color: $primary-color;
    }

    &.secondary-button {
        background-color: $accent-color;
        color: $font-color;
    }
}


header {
    background-color: $primary-color;
    padding: 16px 0;
    color: $white-color;

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// slider

.slider-banner {
    .slick-dots {
        bottom: -50px;
    }
}

.slider-container {
    .slider-content {
        display: flex !important;

        .text {
            display: flex;
            flex-direction: column;
            grid-gap: 20px;
            align-items: flex-start;
            flex: 1;
        }

        .image {
            flex: 1;
        }
    }

    &.vertical .slider-content {
        justify-content: space-between;
        align-items: center;
        gap: clamp(50px, 5vw, 80px);
    }
}