.slider-banner {
    color: $white-color;
    background-image: url('../images/cta-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
    position: relative;

    .slider-container{
        position: relative;
        z-index: 2;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.7);
    }

    h2 {
        color: $white-color;
    }
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 56px;
}

section {
    padding: 80px 0;
}

.accent-background {
    background-color: $accent-color-2;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;


    .card {
        background-color: $white-color;
        box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.2);
        padding: 8px;
        border-radius: 4px;
        transition: transform 0.3s ease-in-out;

        .text {
            padding: 16px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &:hover {
            transform: translateY(-10px);
        }
    }
}

.category-wrapper {
    .grid {
        gap: 30px;

        .category {
            position: relative;
            border-radius: 100%;
            aspect-ratio: 1/1;
            overflow: hidden;
            transition: 0.4s ease-in-out;

            img {
                width: 100%;
                height: 100%;
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                color: $white-color;
                z-index: 2;
                transform: translate(-50%, -50%);
                font-size: 22px;
                line-height: 1.4;
                font-weight: 500;
                background: $secondary-color;
                padding: 4px 20px;
                border-radius: 8px 0 8px 0;

            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background: rgba(0, 0, 0, 0.4);
                transition: 0.3s ease-in-out;
            }

            &:hover {
                cursor: pointer;
                transform: scale(1.05);

                &::after {
                    background: rgba(0, 0, 0, 0.7);
                }
            }
        }
    }
}

// cta
.cta {
    background-image: url('../images/cta-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    .cta-wrapper {
        display: flex;
        position: relative;
        z-index: 2;
        border-radius: 4px;
        overflow: clip;
        box-shadow: 5px 5px 50px 10px rgba(255, 255, 255, 0.3);

        .text {
            background-color: $white-color;
            padding: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            gap: 16px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.6);
    }

}

// button

section .button-wrapper {
    text-align: center;
    margin-top: 56px;
}