.offers-page {
    .banner {
        text-align: center;
        background-color: $secondary-color;
        color: $white-color;

        h1 {
            margin-bottom: 16px;
            color: inherit;
        }
    }

}