@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

$primary-color: #012F8D;
$secondary-color: #EF1E21;
$font-color: #333333;
$heading-color: #0A0908;
$accent-color: #FF9933;
$accent-color-2: rgba(230, 242, 255, 0.5);
$white-color: #ffffff;
$black-color: #000000;
$border-color: #DDDDDD;
$font-family: "Mulish", sans-serif;
$heading-font: "Cormorant", serif;
$style-font: "Orbitron", sans-serif;